{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/base.css'%}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    {% block head_block %}
    {% endblock %}

  

  

  <meta charset="UTF-8">
  <title>
    {% block title_block %}
    Avaloq testing system
    {% endblock %}
  </title>
</head>
<body>
  <!--body_container is the main middle column holding all
  elements of the website-->
  <div class="body_container">
    <div class="header">
      <!--logo holder; needs updated to contain real logo-->
      <div class="logo">
          <img src="Logo-Avaloq.png" class="logo_img">
      </div>
      <!--page title holder; should containt block as so title
      is give for each page-->
      <div class="title">
          <h1>Page Title</h1>
      </div>

      <!--nav bar holder, conatining a nav_element for each link, and
      nav_splitter for a visual splitter between links. nav_link styles
      the link. Contains if statement for navbar to change depending on
      if user is logged in or not-->
      <div class="nav_bar">
        <div class="nav_element">
            <a class="nav_link" href="{% url 'cs14:index'%}" >Home</a>
        </div>
        <div class="nav_splitter"></div>
        {% if user.is_authenticated %}
          <div class="nav_element">
            <a class="nav_link" href="" >Profile</a>
          </div>
          <div class="nav_splitter"></div>
          <div class="nav_element">
            <a class="nav_link" href="{% url 'cs14:logout'%}" >Logout</a>
          </div>
        {% else %}
          <div class="nav_element">
            <a class="nav_link" href="{% url 'cs14:register'%}" >Register</a>
          </div>
          <div class="nav_splitter"></div>
          <div class="nav_element">
            <a class="nav_link" href="{% url 'cs14:login'%}" >Login</a>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="content">
        {% block body_block %}
        {% endblock %}
    </div>
    <div class="footer">

    </div>
  </div>

</body>
</html>