{% extends 'cs14/base.html' %}
{% load static %}


{% block head_block %}
<link rel="stylesheet" href="{% static 'css/codingPage.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/codereview.css' %}" type="text/css">
<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/styles/a11y-dark.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
<link href="https://cdn.alloyui.com/3.0.1/aui-css/css/bootstrap.min.css" rel="stylesheet"></link>-->
<script>
    var Code = '';
    var Language = 'java';
    var CustomInput = "";
    var id = '{{taskID}}';

    function doPost(){
        
        var CustomInputCB = document.getElementById("customInputCB").checked;
        CustomInput = document.getElementById("inputArea").value;
      
        var CSRFtoken = '{{ csrf_token }}';
        var data = 'csrfmiddlewaretoken=' + CSRFtoken + "&language=" + Language + "&codeArea=" + encodeURIComponent(Code) + "&inputArea=" + encodeURIComponent(CustomInput) + "&customInputCB=" + CustomInputCB + '&taskID=' + id

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'cs14:testCode' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        xhr.send(data);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                document.getElementById('output').value = xhr.responseText;
            }
        }
    };
</script>


<script>
    $('myRange').tooltip()
    function updateInputBox() {
        var CSRFtoken = '{{ csrf_token }}';
        var value = document.getElementById('myRange').value;
        var valstring = value.toString()
        var data =  'csrfmiddlewaretoken=' + CSRFtoken + '&number=' + valstring + '&taskID=' + {{taskID}};
        var xhp = new XMLHttpRequest();
        xhp.open("POST", "{% url 'cs14:rhistory' %}", true);
        xhp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        xhp.send(data);
        xhp.onreadystatechange = function() {
            if (xhp.readyState === 4) {
                editor.getSession().setValue( xhp.responseText);
            }
        }
        
        };
</script>



{% endblock %}


{% block title_block %}
Code Review
{% endblock %}

{% block body_block %}

<div class="slidecontainer">
    <input type="range" min="0" max="{{slideval}}" value="{{slideval}}" class="slider" id="myRange" onchange="updateInputBox()">
  </div>

<script>
    updateInputBox()
</script>

<div class="description">
    <h2>Task Description</h2>
    <p>{{taskDec}}
        <br>
        EXPECTED OUTPUT: {{taskout}}
    </p>
    </br>
</div>
<div class="timerContainer">
    <div class="timeTop">
        <div class="timeL">
            <p id="time"></p>
        </div>
        
    </div>
    
</div>
<div class="codeContainer">
    <div class="codeEditor">
        <div class="editorTopBar">
            <div class="editorTitle">CODE</div>
            <select id='languageSelector' class="editorTopBarForm">
                <option value="java">JAVA</option>
                <option value="python">PYTHON</option>
                <option value="c">C</option>
                <option value="c#">C#</option>
            </select>
            <button type="button" onclick="doPost()" class="editorTopBarForm">RUN</button>
        </div>
        <div class="typerContainer">
            <div class="codeTyper" id="codeArea" name="codeArea"></div>
        </div>
    </div>
    <div class="codeIo">
        <div class="codeInput">
            <div class="editorTopBar">
                <div class="editorTitle">CUSTOM INPUT<input type="checkbox" id="customInputCB" value="USE CUSTOM INPUT"></div>
            </div>
            <textarea class="inputArea" id="inputArea" name="inputArea" rows="20" cols="140"></textarea>
        </div>
        <div class="codeOutput">
            <div class="editorTopBar">
                <div class="editorTitle">OUTPUT</div>
            </div>
            <textarea readonly class="outputArea" name="outputArea" id="output" rows="20" cols="140"></textarea>
        </div>
    </div>
</div>

<script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/theme-tomorrow_night.js"></script>
<script>
  var editor = ace.edit("codeArea");
  editor.setTheme("ace/theme/tomorrow_night");
  editor.getSession().setMode("ace/mode/java");
  onLoadFunction = editor => {
    editor.renderer.setPadding(8)
  }

  editor.getSession().on('change', function () {
       Code = editor.getSession().getValue();
   });
</script>

<script src="{% static 'js/codeUpdate.js'%}"></script>
<script>
var languageSelector = document.getElementById('languageSelector');
languageSelector.value = "{{language}}";

editor.getSession().setMode("ace/mode/" + "{{language}}".toLowerCase());
Language = "{{language}}"

</script>



{% endblock %}