{% extends 'cs14/base.html' %}
{% load static %}


{% block head_block %}
<link rel="stylesheet" href="{% static 'css/codingPage.css'%}" type="text/css">

<script>
    var Code = '';
    var Language = 'java';
    var Submission = 'false'
    function doPost(){
        var CSRFtoken = '{{ csrf_token }}';
        var data = 'csrfmiddlewaretoken=' + CSRFtoken + "&language=" + Language + "&codeArea=" + encodeURIComponent(Code) + "&submission=" + Submission;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "{% url 'cs14:sendCode' %}", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
        xhr.send(data);
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4) {
                document.getElementById('output').value = xhr.responseText;
            }
        }
        if (Submission == 'true'){
            window.location.replace("{% url 'cs14:cresults' %}");
        }
    };
</script>

{% endblock %}


{% block title_block %}
CODEEEEE
{% endblock %}

{% block body_block %}
<div class="description">
    <h2>Task Description</h2>
    <p>Print the integers from one to 5.
        <br>
        EXPECTED OUTPUT: 1\n 2\n 3\n 4\n 5\n
    </p>
    </br>
</div>
<div class="timerContainer">
    <div class="timeTop">
        <div class="timeL">
            <p id="time"></p>
        </div>
        <div class="timeR">
            <p>5:00</p>
        </div>
    </div>
    <div class="timeBottom">
        <div class="timer">
        </div>
    </div>
</div>
<div class="codeContainer">
    <div class="codeEditor">
        <div class="editorTopBar">
            <div class="editorTitle">CODE</div>
            <select id='languageSelector' class="editorTopBarForm">
                <option value="java">JAVA</option>
                <option value="python">PYTHON</option>
                <option value="c">C</option>
                <option value="c#">C#</option>
            </select>
            <button id='runButton' type="button" onclick="doPost()" class="editorTopBarForm">RUN</button>
            <button id='submitButton' type="button" onclick="doPost()" class="editorTopBarForm">SUBMIT</button>
        </div>
        <div class="typerContainer">
            <div class="codeTyper" id="codeArea" name="codeArea"></div>
        </div>
    </div>
    <div class="codeIo">
        <div class="codeInput">
            <div class="editorTopBar">
                <div class="editorTitle">CUSTOM INPUT<input type="checkbox" value="USE CUSTOM INPUT"></div>
            </div>
            <textarea class="inputArea" name="inputArea" rows="20" cols="140"></textarea>
        </div>
        <div class="codeOutput">
            <div class="editorTopBar">
                <div class="editorTitle">OUTPUT</div>
            </div>
            <textarea readonly class="outputArea" name="outputArea" id="output" rows="20" cols="140"></textarea>
        </div>
    </div>
</div>

<script src="https://pagecdn.io/lib/ace/1.4.12/ace.js"></script>
<script src="https://pagecdn.io/lib/ace/1.4.12/theme-tomorrow_night.js"></script>
<script>
  var editor = ace.edit("codeArea");
  editor.setTheme("ace/theme/tomorrow_night");
  editor.getSession().setMode("ace/mode/java");
  onLoadFunction = editor => {
    editor.renderer.setPadding(8)
  }

  editor.getSession().on('change', function () {
       Code = editor.getSession().getValue();
   });
</script>
<script>  
    function startTimer(duration, display) {
        var r = document.querySelector(':root');
        var timer = duration, minutes, seconds;
        var durationtot = duration;
        var bar = 0;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = duration;
            }

            durationtot = durationtot - 1;
            bar = (duration-durationtot)/duration*100;
            r.style.setProperty('--timer', bar.toString() + '%');

            
        }, 1000);
    }

    window.onload = function () {
        var fiveMinutes = 60 * 5,
            display = document.querySelector('#time');
        startTimer(fiveMinutes, display);
    };
</script>
<script src="{% static 'js/codeUpdate.js'%}"></script>
<script src="{% static 'js/submitCode.js'%}"></script>
{% endblock %}