{% extends 'cs14/base.html' %}
{% load static %}

{% block head_block %}
<link rel="stylesheet" href="{% static "css/results.css"%}" type="text/css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

{% endblock %}


{% block title_block %}
Your results
{% endblock %}

{% block body_block %}

<br>
<h3 style="text-align: center">Results</h3>
{% if results != None %}
{% for result in results %}
<div class="taskContainer" style="text-align: center">
<script>
    function viewMore(id) {


 
  var btnText = document.getElementById(id);
  var text = id.toString();
  
  const slug = text.substring(text.indexOf('n') + 1);
  var moreText = document.getElementById("more" + slug);


  if (moreText.style.display === "none") {
    btnText.innerHTML = "Hide results";
    moreText.style.display = "inline";
  } else {

    btnText.innerHTML = "View results";
    moreText.style.display = "none";
  }
}
</script>

<script type="text/javascript">
  // Load google charts
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  // Draw the chart and set the chart values
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
    ['Tests', 'Amount'],
    ['Passed', {{result.tests_passed}}],
    ['Failed', {{result.tests_failed}}],
  ]);

  var options = {'width':250, 'height':150, 'backgroundColor':"rgb(29,31,33)", 'legend':{'position':'none'}, 'chartArea': {'width': '90%', 'height': '90%'}, colors: ['#006400', '#8b0000',]};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart{{result.taskID.taskID}}'));
  chart.draw(data, options);

  }
</script>

<div class="top">
  <div class="taskName">
    <h2>Test {{result.taskID.taskID}} - {{result.taskID.name}} </h2>
  </div>
  
  <div class="taskTime">
    <button  class="btn btn-outline-success my-2 my-sm-0" onclick="viewMore(this.id)" style="width: 40%; margin-left: 30%;" id="myBtn{{result.taskID.taskID}}">View results</button> 
  </div>
</div>

  <span id="more{{result.taskID.taskID}}" style="display: None;">
    <br>
    <div class="bottom">
    <div class="resultLeft">
      <h3>Description</h3>
      <div class="description">
        <p>{{result.taskID.description}}</p>
      </div>
      <a class="navLink" href="{% url 'cs14:creview'  result.taskID.taskID %}"><div class="startButton">View Code</div></a>
    </div>

    <div class="resultRight">
      <div class="stats">
        <h3>Stats</h3>
        <p><b>Tasks Passed: </b><span style="color: #006400;">{{result.tests_passed}}</span></p>
        <p><b>Tasks Failed: </b><span style="color: #8b0000;">{{result.tests_failed}}</span></p>
        <br>
        <p><b>Pass Percentage: </b>{{result.passpercentage}}</p>
        <br>
        <p><b>Task Time: </b>{{result.taskID.time}} seconds</p>
        <p><b>Time Taken: </b>{{result.timetaken}} seconds</p>
      </div>
      <div class="graph">
        <br>
        <div id="piechart{{result.taskID.taskID}}"></div>
      </div>
    </div>
  </div>
    </span>


  </div>
</div>
{% endfor %}
{% else %}
<p> You have not yet completed any coding tests, no results to display.</p>
{% endif %}
{% endblock %}

