{% extends 'cs14/base.html' %}
{% load static %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}" type="text/css">
{% endblock %}

{% block title_block %}
{{ user }} - Profile
{% endblock %}

{% block title2_block %}
Welcome {{ user.first_name }} 
{% endblock %}

{% block body_block %}

<div class="row">
	<div class="col-md">
		<div class="content" >	
			<h3 style="text-align: center">Available Tasks</h3>
			{% if tasks != None %}
				{% for key, values in tasks.items %}
					{% if key.taskID.taskID not in results %}
					<div class="taskContainer" style="text-align: center">
						<div class="taskName"><h2 style="font-weight: bold !important;">{{key.taskID.name}}</h2></div>
						<div class="taskTime"><p style="font-weight: 200 !important;">Time to complete task - {{values}} Minutes</p></div>
						<a class="navLink" href="{% url 'cs14:code' key.taskID.taskID %}"><div class="startButton">Go to Task</div></a>

						
						
							
						
        			</div>
					{% else %}
					<div class="taskContainer" style="text-align: center; background-color: rgba(51, 51, 54, 0.452);">
						<div class="taskName"><h2 style="font-weight: bold !important;">{{key.taskID.name}}</h2></div>
						<div class="taskTime"><p style="font-weight: bolder !important; color: darkgreen !important;">Task completed</p></div>
						
        			</div>
					{% endif %}
					
				{% endfor %}
			{% else %}
				<h2>You have no coding tasks to complete.</h2>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}