{% extends 'cs14/base.html' %}
{% load static %}
{% block head_block %}
{% endblock %}

{% block title_block %}
{{ user }} Profile
{% endblock %}

{% block title2_block %}
Welcome {{ user.first_name }} 
{% endblock %}

{% block body_block %}

<style>
	.profile-pic{
		max-width: 100%;
		max-height:	100%;
		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.content {
		padding: 16px;
	}
	.center {
		text-align: center;
	}
</style>

<div class="row">
	<div class="col-md">
		<div class="content" >	
			<h3 style="text-align: center">User Tasks to Complete</h3>
			<hr>
			<br>
			<hr>
			{% if tasks != None %}
				{% for key, values in tasks.items %}
				<hr>
					<div class="taskContainer" style="text-align: center">
						<h2 style="font-weight: bold !important;">{{key.taskID.name}}</h2>
						<p style="font-weight: 200 !important;">Time to complete task - {{values}} Minutes</p>
						

						{% if key.taskID.taskID in results %}
						<p style="font-weight: bolder !important; color: darkgreen !important;">Task completed</p>
						{% else %}
							<a class="navLink" href="{% url 'cs14:code' key.taskID.taskID %}">Go to Task</a>
						{% endif %}
        			</div>
					<hr>
					
				{% endfor %}
			{% else %}
				<h2>You have no coding tasks to complete.</h2>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}