.bodyContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}  

    .description {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 120px;
        max-height: 250px;
    }

        .descriptionText {
            width: 100%;
            padding: 8px;
            overflow: scroll;
        }

        .topText {
            width: 100%;
            padding: 8px;
            overflow: scroll;
        }

    .timerContainer {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

        .timeTop {
            display: flex;
            flex-direction: row;
            width: 100%;
            padding: 0px 5px 0px 5px;
        }

            .timeL {
                width: 100%;
                text-align: left;
            }

            .timeR {
                width: 100%;
                text-align: right;
            }
        
        .timeBottom {
            display: flex;
            height: 2px;
            width: 100%;
        }
        
            .timer {
                display: flex;
                justify-content: left;
                height: 100%;
                width: var(--timer);
                background-color: var(--alt-color2);
            }

    .codeContainer {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        min-height: 300px;
        overflow: hidden;
    }

        .codeEditor {
            display: flex;
            flex-direction: column;
            width: 70%;
            height: 100%;
            background-color: var(--div-color);
            border-right: var(--alt-color) solid 1px;
            overflow: hidden;
        }

            .typerContainer {
                display: flex;
                flex-direction: row;
                height: 100%;
                width: 100%;
            }

                .codeTyper {
                    width: 100%;
                    /* margin-top: 4px; */
                }

                .codeTyper:focus,  .editorTopBarForm:focus{
                    outline: none;
                }

            .editorTopBar {
                display: flex;
                padding-left: 4px;
                flex-direction: row;
                align-items: center !important;
                width: 100%;
                height: 24px;
                background-color: rgb(48, 48, 48);
                box-shadow: 0px 0px 10px 1px rgb(27, 27, 27);
                font-weight: 300;
                color: rgb(129, 129, 129);
                z-index: 1;
            }

                .editorTitle {
                    display: flex !important;
                    width: 100% !important;
                    height:fit-content;
                }

                .editorTopBarForm {
                    height: 100% !important;
                    background-color: rgb(48, 48, 48) !important;
                    color: var(--font-color) !important;
                    border: none !important;
                    margin-right: 2px !important;
                    font-weight: 200;
                }

                .editorTopBarForm:hover {
                    background-color: var(--background-color) !important;
                }

        .codeIo {
            display: flex;
            flex-direction: column;
            width: 30%;
            height: 100%;
            color: var(--font-color);
        }

            .codeInput {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: var(--alt-color) solid 1px;
            }

                .cInputCheck {
                    margin-top: auto;
                    margin-bottom: auto;
                    margin-left: 4px;
                }

            .codeOutput {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                overflow: hidden;
                border: var(--alt-color) solid 1px;
            }

            @media screen and (max-width: 1000px) {
                .codeIo {   
                    flex-direction: row;
                    width: 100%;
                    height: 30%;
                }

                .codeContainer {
                    flex-direction: column;
                }

                .codeEditor {
                    width: 100%;
                    height: 70%;
                }
            }

textarea {
    width: 100%;
    height: 100%;
    background-color: var(--div-color);
    border: none;
    color: var(--font-color);  
    resize: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    padding: 4px;
}

textarea:focus {
    outline: none;
}




  h3 {
      padding: 0px;
  }